<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<window closable="true" title="${c:l('contract.info')}"
        apply="com.viettel.csp.composer.workManager.StaffManagerComposer" width="80%">
    <panel border="normal" width="100%" >
        <panelchildren>
            <hbox spacing="0" width="100%" height="100%">
                <attribute name="onClick"><![CDATA[ $composer.getListStaff()]]></attribute>
                <groupbox height="100" width="500px">
                    <caption label="Phòng ban"/>
                    <listbox id="lbxDepart" height="100" mold="paging" pageSize="10" checkmark="true" multiple="true">
                        <listhead>
                            <listheader label="" style="text-align:center" width="10%"/>
                            <listheader label="Ma" width="20%"/>
                            <listheader label="Ten" />
                        </listhead>
                        <template name="model">
                            <listitem value="${each}">
                                <listcell style="text-align:center">
                            
                                </listcell>
                                <listcell style="text-align:left">
                                    <label value="${each.organizationId}"/>
                                </listcell>
                                <listcell style="text-align:left">
                                    <label value="${each.name}"/>
                                </listcell>
                            </listitem>
                        </template>
                    </listbox>
                </groupbox>
                <splitter id="s2" collapse="before"/>
                <groupbox height="100" >
                    <caption label="Nhân viên"/>
                    <listbox id=""  mold="paging" pageSize="10" checkmark="true" multiple="true">
                        <listhead>
                            <listheader label="" style="text-align:center" width="5%"/>
                            <listheader label="Ma" width="20%"/>
                            <listheader label="Ten" style="text-align:center"/>
                        </listhead>
                        <template name="model">
                            <listitem value="${each}">
                                <listcell style="text-align:center">
                            
                                </listcell>
                                <listcell style="text-align:left">
                                    <label value="${each.organizationId}"/>
                                </listcell>
                                <listcell style="text-align:left">
                                    <label value="${each.name}"/>
                                </listcell>
                            </listitem>
                        </template>
                    </listbox>
                </groupbox>
            </hbox>
        </panelchildren>
    </panel>
    <div height="10px"/>
</window>
