<?xml version="1.0" encoding="UTF-8"?>
<?component name="uploadComponent" class="com.viettel.plc.widget.UploadComponent"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <window closable="true" title="${c:l('global.addNew')}" xmlns:h="client"
            apply="com.viettel.csp.composer.contractManagement.ContractManagerPopupEditToCSPComposer" width="80%">
        <attribute name="onOK">
            Clients.evalJavaScript("zAu.send(new zk.Event(zk.Widget.$('$btnSavePopup'), 'onClick'));");
        </attribute>
        <panel border="normal" width="100%" height="50%">
        <panelchildren>
            <hbox spacing="0" width="100%" height="100%">
                <vbox spacing="0" width="100%" height="100px,100px">
                    <grid id="grdAdd">
                        <columns>
                            <column hflex="1"/>
                            <column hflex="2"/>
                        </columns>
                        <rows>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contract.number')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtContractNumber"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contract.name')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtCompanyName"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contractManagement.headOfService')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtHeadOfService"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contract.GroupServiceTree')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtServiceCode"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contractManagement.startDate')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="dbStartDate"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contractManagement.endDate')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="dbEndDate"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contractManagement.contractStatus')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtContractStatus"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contractManagement.contractType')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtContractType"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('contractManagement.ctSignForm')}" width="145px"/>
                                </cell>
                                <label hflex="2" id="txtCtSignForm"/>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('global.signer')}" width="145px"/>
                                </cell>
                                <cell>
                                    <bandbox id="signer" mold="rounded" autodrop="true">
                                        <bandpopup>
                                            <listbox height="250px" width="450px" mold="paging" autopaging="true" id="lbxCtManSigner"
                                              onSelect="signer.value=self.selectedItem.label; signer.close();">
                                                <listhead>
                                                    <listheader label="${c:l('contractManagement.selectSigner')}"/>
                                                </listhead>
                                                <listitem label="${each}" forEach="${fullname}" />
                                            </listbox>
                                        </bandpopup>
                                    </bandbox>
                                </cell>
                            </row>
                            <row>
                                <cell hflex="1" align="right">
                                    <label value="${c:l('global.appraiser')}" width="145px"/>
                                </cell>
                                <cell>
                                    <bandbox id="appraiser" mold="rounded" autodrop="true">
                                        <bandpopup>
                                            <listbox height="250px" width="450px" mold="paging" autopaging="true" id="lbxCtManAppraiser"
                                              onSelect="appraiser.value=self.selectedItem.label; appraiser.close();" >
                                                <listhead>
                                                    <listheader label="${c:l('contractManagement.selectAppraiser')}"/>
                                                </listhead>
                                                <listitem label="${each}" forEach="${fullname}"/>
                                            </listbox>
                                        </bandpopup>
                                    </bandbox>
                                </cell>
                            </row>
                        </rows>
                    </grid>
                </vbox>
                <splitter id="s2" collapse="before"/>
                <vbox spacing="0" width="100%">
                    <grid id="grdContactPoint" mold="paging" height="350px" pageSize="10" >
                        <custom-attributes org.zkoss.zul.nativebar="true"/> 
                        <columns>
                            <column width="40px" />
                            <column />
                        </columns>
                        <template name="model">
                            <row>
                                <detail>
                                    <hlayout sclass="detail">
                                        <vlayout>
                                            <hlayout sclass="detail-row">
                                                <label value="${each.name}"/>
                                            </hlayout>
                                            <hlayout sclass="detail-row">
                                                <label value="${each.email}"/>
                                            </hlayout>
                                            <hlayout sclass="detail-row">
                                                <label value="${each.fixedPhoneNumber}"/>
                                            </hlayout>
                                            <hlayout sclass="detail-row">
                                                <label value="${each.mobilePhoneNumber}"/>
                                            </hlayout>
                                            <hlayout sclass="detail-row">
                                                <label value="${each.position}"/>
                                            </hlayout>
                                        </vlayout>
                                    </hlayout>
                                </detail>
                                <label value="${each.contactTypeName}"/>
                            </row>
                        </template>
                    </grid>
                </vbox>
            </hbox>
        </panelchildren>
    </panel>    
            
            
            
        <div height="10px"/>
        <tabbox width="100%" height="300px">
            <tabs>
                <tab label="${c:l('partner.list.contract.lstContractPartner')}" />
                <tab label="${c:l('partner.list.contract.lstContractPartnerFiles')}" />
                <tab label="${c:l('partner.list.contract.history')}" />
            </tabs>
            <tabpanels>
                <tabpanel>
                    <groupbox width="100%">
                        <listbox id="lbxContractFiles" mold="paging" multiple="true" checkmark="true"
                                 emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                            <listhead sizable="true" style="font-weight: bold">
                                <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                                <listheader sort="auto(fileName)" label="${c:l('contract.fileName')}" style="text-align:center" width="20%"/>
                                <listheader sort="auto(filingDate)" label="${c:l('contract.timeSend')}" style="text-align:center" width="15%"/>
                                <listheader sort="auto(pathFile)" label="${c:l('contract.downloadFile')}" style="text-align:center" width="35%"/>
                                <listheader label="${c:l('contract.downloadFile')}" style="text-align:center" width="5%"/>
                                <listheader label="${c:l('contract.ViewDownloadFile')}" style="text-align:center" width="5%"/>
                            </listhead>
                            <template name="model">
                                <listitem value="${each}">
                                    <listcell style="text-align:center">
                                        <label value="${forEachStatus.index+1}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.fileName}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.formatDateTime(each.filingDate)}"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <label value="${each.pathFile}"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="/images/down-icon.png"  forward="onClick=onDownloadFileContract"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="/images/view.png"  forward="onClick=onViewDownloadFileContract"/>
                                    </listcell>
                                </listitem>
                            </template>
                        </listbox>
                    </groupbox>
                </tabpanel>
                <tabpanel>

                    <groupbox width="100%">
                        <listbox id="lbxContractFilesPartner" mold="paging" checkmark="true" multiple="true"
                                 emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                            <listhead sizable="true" style="font-weight: bold">
                                <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                                <listheader sort="auto(fileName)" label="${c:l('contract.fileName')}" style="text-align:center" width="20%"/>
                                <listheader sort="auto(filingDate)" label="${c:l('contract.timeSend')}" style="text-align:center" width="20%"/>
                                 <listheader label="${c:l('contract.downloadFile')}" style="text-align:center" width="5%"/>
                                 <listheader label="${c:l('contract.ViewDownloadFile')}" style="text-align:center" width="5%"/>
                            </listhead>
                            <template name="model">
                                <listitem value="${each}">
                                    <listcell style="text-align:center">
                                        <label value="${forEachStatus.index+1}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.fileName}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.formatDateTime(each.filingDate)}"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="/images/down-icon.png"  forward="onClick=onDownloadFileContract"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="/images/view.png"  forward="onClick=onViewDownloadFileContract"/>
                                    </listcell>
                                </listitem>
                            </template>
                        </listbox>
                    </groupbox>
                </tabpanel>

                <tabpanel>

                    <groupbox width="100%">
                        <listbox id="lbxContractFilesHistory" mold="paging"
                                 emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                            <listhead sizable="true" style="font-weight: bold">
                                <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                                <listheader sort="auto(createBy)" label="${c:l('contract.creatBy')}" style="text-align:center" width="20%"/>
                                <listheader sort="auto(statusBefore)" label="${c:l('contract.statusBefore')}" style="text-align:center" width="20%"/>
                                <listheader sort="auto(statusAfter)" label="${c:l('contract.statusAfter')}" style="text-align:center" width="20%"/>
                                <listheader sort="auto(content)" label="${c:l('contract.content')}" style="text-align:center" width="15%"/>
                                <listheader label="${c:l('global.edit')}" style="text-align:center" width="4%"/>
                                <listheader label="${c:l('contract.ViewDownloadFile')}" style="text-align:center" width="5%"/>
                            </listhead>
                            <template name="model">
                                <listitem value="${each}">
                                    <listcell style="text-align:center">
                                        <label value="${forEachStatus.index+1}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.createBy}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.getContractStatusHisName(each.statusBefore)}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.getContractStatusHisName(each.statusAfter)}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.content}"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="/images/edit-icon.png"  forward="onClick=onDownloadFileContract"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="/images/view.png"  forward="onClick=onViewDownloadFileContract"/>
                                    </listcell>
                                </listitem>
                            </template>
                        </listbox>
                    </groupbox>
                </tabpanel>
            </tabpanels>
        </tabbox>

        <div width="100%">
            <uploadComponent id="uploadComponent"/>
        </div>
        <div align="center">
            <cell align="center" width="100%">
                <hlayout spacing="5px">
                    <button id="btnCloseCSP" label="${c:l('global.addContract')}" image="/images/minus-16.png"/>
                    <button id="btnCreateReplayContract" label="${c:l('global.createReplayContract')}" image="/images/edit-icon.png"/>
                    <button id="btnCreateSignature" label="${c:l('global.createSignature')}" image="/images/accept-icon.png"/>
                    <button id="btnCreateSignaturePartner" label="${c:l('global.createSignaturePartner')}" image="/images/add-icon.png" visible="false"/>
                </hlayout>
            </cell>
        </div>
        <div height="10px"/>
        
    </window>
</zk>

