<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
  <window apply="com.viettel.csp.composer.contractManagement.ContractPopupPCReasonComposer" closable="true"
    title="${c:l('global.addNewReason')}" width="50%">
    <groupbox width="100%">
      <caption label="${c:l('contract.dialog.tooltip.contractreason.info')}"/>
      <grid id="grdAdd">
        <columns>
          <column hflex="1"/>
          <column hflex="2"/>
        </columns>
        <rows id="rows">
          <row>
            <cell align="center" hflex="1">
              <label value="${c:l('reason.content')}"/>
              <label style="color:red" value=" (*)"/>
            </cell>
            <cell align="center" hflex="2">
              <combobox hflex="1" id="cbbReason" model="${$composer.kvbReason}" mold="rounded"
                readonly="true">
                <template name="model">
                  <comboitem label="${each.value}" value="${each.key}"></comboitem>
                </template>
              </combobox>
            </cell>
          </row>
          <row>
            <cell align="center" hflex="1">
              <label value="${c:l('reason.description')}"/>
              <label style="color:red" value=" (*)"/>
            </cell>
            <textbox hflex="2" id="txtContenReason" maxlength="1024" rows="5"/>
          </row>
        </rows>
      </grid>
    </groupbox>
    <div height="10px"/>

    <div align="center">
      <cell align="center" width="100%">
        <hlayout spacing="5px">
          <button id="btnSendReason" image="/images/accept-icon.png"
            label="${c:l('global.SendReason')}"/>
          <button id="btnClose" image="/images/minus-16.png" label="${c:l('global.addContract')}"/>
        </hlayout>
      </cell>
    </div>
    <div height="10px"/>
  </window>
</zk>

