<?xml version="1.0" encoding="UTF-8"?>
<?component name="uploadComponent" class="com.viettel.plc.widget.UploadComponent"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <window closable="true" title="${c:l('global.addNewContractFile')}" xmlns:h="client"
            apply="com.viettel.csp.composer.contract.ContractPopupAddComposer" width="80%">
        <attribute name="onOK">
            Clients.evalJavaScript("zAu.send(new zk.Event(zk.Widget.$('$btnSavePopup'), 'onClick'));");
        </attribute>
        <groupbox width="100%">
            <caption label="${c:l('contract.dialog.tooltip.contract.info')}"/>
            <grid id="grdAdd">
                <columns>
                    <column hflex="1"/>
                    <column hflex="2"/>
                    <column hflex="1"/>
                    <column hflex="2"/>
                </columns>
                <rows id="rows">
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.companyName')}" width="145px"/>
                        </cell>         
                        <label hflex="1" maxlength="50" id="txtCompanyName"/>       
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.addressHeadOffice')}" width="145px"/>
                        </cell>
                        <label hflex="1" maxlength="50" id="txtAddressHeadOffice"/>
                    </row>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.partnerCode')}" width="145px"/>
                        </cell>
                        <label hflex="1" maxlength="50" id="txtPartnerCode"/>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.addressTradingOffice')}" width="145px"/>
                        </cell>
                        <label hflex="1" maxlength="50" id="txtAddressTradingOffice"/>
                    </row>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.companyNameShort')}" width="145px"/>
                        </cell>
                        <label hflex="1" maxlength="50" id="txtCompanyNameShort"/>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.phone')}" width="145px"/>
                        </cell>
                        <label hflex="1" maxlength="50" id="txtPhone"/>
                    </row>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contract.repName')}" width="145px"/>
                        </cell>
                        <label hflex="1" maxlength="50" id="txtRepName"/>
                        <cell hflex="1" align="right">
                        </cell>
                        <cell hflex="1" align="right">
                        </cell>
                    </row>
                </rows>
            </grid>
        </groupbox>
        <div height="10px"/>
        <uploadComponent id="uploadComponent"/>
        
        <div align="center">
            <cell align="center" width="100%">
                <hlayout spacing="5px">
                    <button id="btnAddContractFiless" label="${c:l('global.addNewContractFile')}" image="/images/add-icon.png"/>
                    <button id="btnClose" label="${c:l('global.exit')}" image="/images/minus-16.png"/>
                </hlayout>
            </cell>
        </div>
        <div height="10px"/>
    </window>
</zk>

