/*toolbarbutton hearder*/
/*.z-toolbar-start, .z-toolbar-panel .z-toolbar-panel-start .z-toolbar-panel-cnt {
    clear: none;
    float: right;
}
*/
.z-panel-icon {
    
}
.tseparator .z-tab-hm .z-tab-seld .z-tab-hl{
    background-color: black;
    height: 74px;
    width: 3px;
}
/*  toolbarhearder*/
.toolbhearder.z-toolbar{
    background: transparent;
    height: 35px;
    background-color: #E97B2C;
}


.toolbhearder.z-toolbar .z-toolbarbutton .z-toolbarbutton-over .z-toolbarbutton-body .z-toolbarbutton-cnt {
    background: transparent;
    background-image: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0;
}
.tabphearder.z-tabpanel{
    height: 35px;
    background-color: #E97B2C;
}
.z-toolbar-panel {
    background: none repeat scroll 0 0 transparent;
    padding: 5px;
}

/*tab header*/
.headtabs.z-tab{
    border-top: 1px solid #DFE6EF;
    border-left: 1px solid #DFE6EF;
    border-right: 1px solid #DFE6EF;
}
.headtabs.z-tab .z-tab-text {
    background: none repeat scroll 0 50% transparent;
    color: #464646;
    display: block;
    font-family: 'BenchNine',sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    padding: 27px 1em;
    text-transform: uppercase;
}

.headtabs.z-tab .z-tab-hl:hover .z-tab-text {
    background: none repeat scroll 0 50% transparent;
    color: #E97B2C;
    display: block;
    font-family: 'BenchNine',sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    padding: 27px 1em;
    text-transform: uppercase;
}
.mainhead.z-tabbox .z-tab .z-tab-hm {
    background-image: url('../img/tab.jpg');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-x;
    height: 74px;
}
.mainhead.z-tabbox .z-tab .z-tab-hm:hover {
    background-image: url('../img/header-bg.jpg');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 74px;
    padding: none;
    margin: none;
}
.mainhead.z-tabbox .z-tab-seld .z-tab-hm {
    background-image: url('../img/tab.jpg');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 74px;
    padding: none;
    margin: none;
}

.mainhead.z-tabbox .z-tab .z-tab-hl {
    background-image: url('../img/tab.jpg');
    background-color: transparent;
    background-position: left;
    background-repeat: repeat-x;
    height: 74px;
}

.mainhead.z-tabbox .z-tab .z-tab-hl:hover {
    background-image: url('../img/header-bg.jpg');
    background-color: transparent;
    background-position: left;
    background-repeat: repeat-x;
    height: 74px;
    padding: none;
    margin: none;
}

.mainhead.z-tabbox .z-tab-seld .z-tab-hl {
    background-image: url('../img/tab.jpg');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 74px;
    padding: none;
    margin: none;
}

.mainhead.z-tabbox .z-tab .z-tab-hr {
    background-image: url('../img/tab.jpg');
    background-color: transparent;
    background-position: right;
    background-repeat: repeat-x;
    height: 74px;
}

.mainhead.z-tabbox .z-tab .z-tab-hr:hover {
    background-image: url('../img/header-bg.jpg');
    background-color: transparent;
    background-position: right;
    background-repeat: repeat-x;
    height: 74px;
}

.mainhead.z-tabbox .z-tab-seld .z-tab-hr {
    background-image: url('../img/tab.jpg');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 74px;
    padding: none;
    margin: none;
}

.mainhead.z-tabs .z-tabs-cnt {
    /*    background-image: url('../img/tab.jpg');
        background-color: transparent;
        background-position: center;
        background-repeat: repeat-X;*/
    -moz-user-select: none;
    background-image: url('../img/top-bg1.png');
    border-bottom: 1px solid red;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    width: 100%;
}

/* Start: Main Tabs Menu
---------------------------------------------- */
.menutabs.z-tab .z-tab-text {
    color: white;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-weight: bold;
    padding: 4px 14px;
    white-space: nowrap;
}

.menutabs.z-tab .z-tab-hl:hover .z-tab-text {
    padding: 6px 14px;
    color: yellow;
    font-weight: bold;
}




.mainmenu.z-tabbox .z-tab .z-tab-hm {
    background-image: url('../img/blank_p.gif');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat;
    height: 36px;
}

.mainmenu.z-tabbox .z-tab .z-tab-hm:hover {
    background-image: url('../img/blank_over_p.gif');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 36px;
    padding: none;
    margin: none;
}

.mainmenu.z-tabbox .z-tab-seld .z-tab-hm {
    background-image: url('../img/current-bg.png');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 36px;
    padding: none;
    margin: none;
}

.mainmenu.z-tabbox .z-tab .z-tab-hl {
    background-image: url('../img/blank_p.gif');
    background-color: transparent;
    background-position: left;
    background-repeat: repeat;
    height: 36px;
}

.mainmenu.z-tabbox .z-tab .z-tab-hl:hover {
    background-image: url('../img/blank_over_p.gif');
    background-color: transparent;
    background-position: left;
    background-repeat: repeat;
    height: 36px;
    padding: none;
    margin: none;
}

.mainmenu.z-tabbox .z-tab-seld .z-tab-hl {
    background-image: url('../img/current-bg.png');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 36px;
    padding: none;
    margin: none;
}

.mainmenu.z-tabbox .z-tab .z-tab-hr {
    background-image: url('../img/blank_p.gif');
    background-color: transparent;
    background-position: right;
    background-repeat: repeat;
    height: 36px;
}

.mainmenu.z-tabbox .z-tab .z-tab-hr:hover {
    background-image: url('../img/blank_over_p.gif');
    background-color: transparent;
    background-position: right;
    background-repeat: repeat;
    height: 36px;
}

.mainmenu.z-tabbox .z-tab-seld .z-tab-hr {
    background-image: url('../img/current-bg.png');
    background-color: transparent;
    background-position: center;
    background-repeat: repeat-X;
    height: 36px;
    padding: none;
    margin: none;
}

.mainmenu.z-tab .z-tab-hl:hover .z-tab-hr {
    background-position: right 0;
}

.mainmenu.z-tab .z-tab-hl:hover .z-tab-hl {
    background-position: left 0;
}

.mainmenu.z-tab .z-tab-hl:hover .z-tab-hm {
    background-position: center 0;
}

.mainmenu.z-tabs .z-tabs-cnt {
    -moz-user-select: none;
    background-image: url('../img/top-bg1.png');
    border-bottom: 1px solid red;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    width: 100%;
}

.mainmenu .z-tabpanel {
    border-style: none;
}

.divfooter {
    bottom: 12px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
}/*

 Start: Third and Fourth Left Navigation Menu Starts Here
---------------------------------------------- 
.leftnav .z-groupbox-3d-hm {
    background-image: none;
    background-color: #FFFFFF !important;
    border: 0 groove red;
}

.leftnav .z-groupbox-3d-header .z-caption {
    color: black;
    font-weight: bold;;
}

.leftnav .z-groupbox-3d-cnt {
    background-image: none;
    background-color: #FFFFFF !important;
    padding-right: 100%;
}

.leftnav .z-toolbarbutton-cnt {
    display: -moz-box;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 2px;
    position: relative;
    width: 500%;
    align: center;
    margin: 1px 18px;
}

.leftnav .z-toolbarbutton-over .z-toolbarbutton-body {
    border-left: 0 solid red;
    border-right: 0;
}

 End : Third and Fourth Left Navigation Menu Ends here


---------------------------------------------- 

 Start: Tabbed Dialog Left Navigation
---------------------------------------------- 
.tabnav .z-toolbarbutton-cnt {
    font-size: 12px;
    font-family: verdana, arial, sans-serif;
    color: #636363;
    background-color: white;
}

 End : Tabbed Dialog Left Navigation
---------------------------------------------- 

 Start: Selected ToolBar Button Color
---------------------------------------------- 
.tabnavsel .z-toolbarbutton-cnt {
    font-size: 12px;
    font-family: verdana, arial, sans-serif;
    background-color: #DDF2FC;
}

 End : Tabbed Dialog Left Navigation
---------------------------------------------- 

 Start: Modal window
---------------------------------------------- 
.z-window-modal-hm,.z-window-modal-br,.z-window-modal-cr,.z-window-modal-cl,.z-window-modal-hr,.z-window-modal-tr,.z-window-modal-hl
{
    background-image: none;
    background-color: #0C6BA8;
}

.z-window-modal-icon {
    width: 20px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #0C6BA8 #0C6BA8 #0C6BA8 #0C6BA8;
    box-shadow: inset 0 1px 0 #0C6BA8, inset -1px -1px 0 #0C6BA8, inset -1px
        -2px 0 #0C6BA8;
}

.z-window-modal-close {
    background: url('../img/close.jpg') transparent no-repeat 0 0;
}

.z-window-modal-header,.z-window-modal-header-noborder {
    padding-top: 1px;
    padding-right: -1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-right: -4px;
    color: white;
    font-family: "Tahoma", verdana, arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
}

 End: Modal Window 
---------------------------------------------- 

 Start: Action Images- Edit
---------------------------------------------- 
.fimageedit {
    width: 25px;
    background-image: url('../img/icon-edit.png');
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

 End: Action Images - Edit
---------------------------------------------- 

 Start: Action Images- Auditlog
---------------------------------------------- 
.fImageAudit {
    width: 25px;
    background-image: url('../img/AuditLog.jpg');
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

 End: Action Images - Edit
---------------------------------------------- 

 Start: Action Images- Delete
---------------------------------------------- 
.fimageDelete {
    width: 25px;
    background-image: url('../img/icon-trash-red.png');
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

 End: Action Images - Delete
---------------------------------------------- 

 Start: Action Images- Active
---------------------------------------------- 
.fimageActive {
    width: 25px;
    background-image: url('../img/icon-enable.png');
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

 End: Action Images - Active
---------------------------------------------- 

 Start: Action Images- Inactive
---------------------------------------------- 
.fimageInactive {
    width: 25px;
    background-image: url('../img/icon-disable.png');
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

 End: Action Images - InActive
---------------------------------------------- 

 Start: Listing Window
---------------------------------------------- 
*/.listingwindow .z-window-embedded-hm,.z-window-embedded-tl,.listingwindow .z-window-embedded-tl-noborder,.z-window-embedded-tr,.listingwindow .z-window-embedded-tr-noborder,.z-window-embedded-hl,.z-window-embedded-hr,.z-window-embedded-br,.z-window-embedded-bl
{
    background-color: transparent;
    background-image: none;
    background-position: top center;
}

.listingwindow .z-window-embedded-cm,.z-window-overlapped-cm {
    border: 0 solid #CCCCCC;
}

.listingwindow .z-window-embedded-cr,.z-window-embedded-cl,.z-window-embedded-br
{
    background-image: none;
}/*

 End: Listing Window 
---------------------------------------------- 


 Start: Form Grid
---------------------------------------------- 
*/.fgrid tr.z-row
td.z-row-inner,tr.z-row,div.z-grid-body div.z-cell,div.z-grid {
    border: none;
    overflow: hidden;
    zoom: 1;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.fgrid .z-grid-odd .fgrid .z-row-inner,.fgrid .z-grid-odd .z-cell,.fgrid tr.z-row-over>td.z-row-inner
{
    background-color: #F7F7F7;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}

.fgrid .z-grid-odd .fgrid.z-row-inner,.fgrid.z-grid-odd .z-cell,.fgrid.z-grid-odd
{
    background: none repeat scroll 0 0 transparent;
}/*

 End: Form Grid 
---------------------------------------------- 

 Start: List Item Listing Records
   The following will applicable for all the list box in the application, because we are not using our defined sclass name
---------------------------------------------- 
*/.z-listcell.systemrec .z-listcell-cnt,.z-label.systemrec {
    color: red;
}

.z-listcell.highlightcell .z-listcell-cnt,.z-label.highlightcell {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

div.z-listbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    overflow: hidden;
}

tr.z-listitem-seld {
    background-image: none;
}

/*Selected rows with the mouse hovering over them */
tr.overseld,td.overseld,tr.z-listitem-over,tr.z-listitem-over-seld {
    background-image: none;
    background-color: transparent;
}

/*Odd rows in a listbox */
tr.odd
td.gc,tr.odd,tr.z-listbox-odd,tr.z-grid-odd
td.z-row-inner,tr.z-grid-odd {
    background: #F4FAFD none repeat scroll 0 0;
}

/*Odd rows in a listbox mouse over when we move */
tr.odd
tr.z-listitem.z-listbox-odd.z-listitem-over {
    background-image: none;
    background-color: #E3F0F8;
}

/*List item Header Color */
.z-listbox div.z-listbox-header tr.z-list-head,.z-listbox
div.z-listbox-header tr.z-auxhead,.z-listbox
div.z-listbox-header tr.z-listhead,.z-listbox
div.z-listbox-header tr.z-auxhead {
    background-image: none;
    background-color: #E0F7BA;
    color: white;
}

div.z-listfooter-cnt,div.z-listheader-cnt {
    border: 0 none;
    color: black;
    font-family: "Tahoma", verdana, arial, sans-serif;
    font-size: 11px;
    margin: 0;
    height: 15px;
}

.z-listheader-cnt :hover {
    border: 0 none;
    color: white;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

div.z-listbox-header th.z-listheader-sort-over {
    background-image: none;
}

div.z-listfooter-cnt,div.z-listheader-cnt {
    font-size: 11px;
    font-family: "Tahoma", verdana, arial, sans-serif;
    height: 10px;
}

div.z-listcell-cnt {
    font-size: 11px;
    font-family: "Tahoma", verdana, arial, sans-serif;
    height: 15px;
}

.z-paging-os {
    padding-left: 40%;
}

.z-paging {
    padding-left: 40%;
    background: none repeat scroll 0 0 transparent;
}

.z-listheader-sort-img {
    float: left;
    font-size: 0;
    left: 90%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

div.z-paging-os-cnt-l,div.z-paging-os-cnt-r,div.z-paging-os-cnt-m,div.z-paging-os-cnt-seld-l,div.z-paging-os-cnt-seld-r,div.z-paging-os-cnt-seld-m,div.z-paging-os-cnt-l-over
{
    background-image: none;
}

.listitemlink.z-a {
    color: blue !important;
}

div.z-listbox-body,div.z-listbox-footer
.z-listfooter {
    cursor: default;
}
div.z-listcell{
    cursor: pointer;
}
/*

 End: Form List Item Listing Records for all listbox 
---------------------------------------------- 

 Start: Form TextBox
---------------------------------------------- 
*/.ftextbox.z-textbox.z-textbox-focus {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}/*

 End: Form TextBox 
---------------------------------------------- 
.readonlylabel.z-label {
    background: none repeat-x scroll 0 0 #D0D0D0;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    outline: medium none;
    padding: 2px;
}

 Start: Combo Box
---------------------------------------------- 
.fcombofocus.z-combobox.z-combobox-focus .z-combobox-inp {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

 End: Combox Box
---------------------------------------------- 

 Start: Input Form Title 
---------------------------------------------- 
*/.flbltitle.z-label {
    font-size: 14px;
    font-weight: bolder;
    color: #0C6BA8;
}/*

 End: Input Form Title 
---------------------------------------------- 
*/.flabel .z-checkbox-cnt {
    font-size: 12px;
    font-family: verdana, arial, sans-serif;
    color: #636363;
}/*

 Start: Input Form Label
---------------------------------------------- 
*/.flabel.z-label {
    font-size: 12px;
    font-family: verdana, arial, sans-serif
}/*

 End: Input Form Label 
---------------------------------------------- 

 Start: Required Field asterix 
---------------------------------------------- 
.flblreq.z-label {
    font-size: 16px;
    font-weight: bolder;
    color: red;
}

 End: Required Field asterix 
---------------------------------------------- 

 Start: Radio Button 
---------------------------------------------- 
.z-radio-cnt,.z-checkbox-cnt,.z-loading {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 4px;
}

 End: Radio Button 
---------------------------------------------- 
.mybutton.z-button .z-button-cm {
    background-image: none;
    color: white;
    font-weight: bolder;
}

.mybutton .z-button-focus .z-button-cm {
    text-decoration: underline;
}

.mybutton.z-button .z-button-tm,.z-button .z-button-bm {
    background-image: none;
}

.mybutton.z-button .z-button-cl,.z-button .z-button-cr {
    background-image: none;
}

.mybutton.z-button .z-button-tl {
    background-image: none;
}

.mybutton.z-button .z-button-bl {
    background-image: none;
}

.mybutton.z-button .z-button-tr {
    background-image: none;
}

.mybutton.z-button .z-button-br {
    background-image: none;
}

.button {
    display: inline-block;
    zoom: 1;  zoom and *display = ie7 hack for display:inline-block 
    display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.smallrounded {
    -webkit-border-radius: 9em;
    -moz-border-radius: 9em;
    border-radius: 9em;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}

.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}

.roundsearch {
    background-image: url('../img/green_search_button.png');
    background-position: center;
    height: 22px;
    width: 22px;
}

.roundsearch:hover {
    background-image: url('../img/green_search_button-hover.png');
    background-position: center;
    height: 22px;
    width: 22px;
}

 color styles 
---------------------------------------------- 

 black 
.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666),
        to(#000) );
    background: -moz-linear-gradient(top, #666, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',
        endColorstr='#000000' );
    padding: 3px 5px 3px 5px;
}

.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444),
        to(#000) );
    background: -moz-linear-gradient(top, #444, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',
        endColorstr='#000000' );
    padding: 4px 5px 2px 5px;
}

.black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000),
        to(#444) );
    background: -moz-linear-gradient(top, #000, #444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',
        endColorstr='#666666' );
    padding: 3px 5px 3px 5px;
}

 gray 
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888),
        to(#575757) );
    background: -moz-linear-gradient(top, #888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',
        endColorstr='#575757' );
    padding: 3px 5px 3px 5px;
}

.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575),
        to(#4b4b4b) );
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575',
        endColorstr='#4b4b4b' );
    padding: 4px 5px 2px 5px;
}

.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757),
        to(#888) );
    background: -moz-linear-gradient(top, #575757, #888);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',
        endColorstr='#888888' );
    padding: 3px 5px 3px 5px;
}

 white 
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff),
        to(#ededed) );
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
        endColorstr='#ededed' );
    padding: 3px 5px 3px 5px;
}

.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff),
        to(#dcdcdc) );
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
        endColorstr='#dcdcdc' );
    padding: 4px 5px 2px 5px;
}

.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
        to(#fff) );
    background: -moz-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
        endColorstr='#ffffff' );
    padding: 3px 5px 3px 5px;
}

 orange 
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffac53),
        to(#fe7d1e) );
    background: -moz-linear-gradient(top, #ffac53, #fe7d1e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac53',
        endColorstr='#fe7d1e' );
    padding: 3px 5px 3px 5px;
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe7d1e),
        to(#ffac53) );
    background: -moz-linear-gradient(top, #fe7d1e, #ffac53);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe7d1e',
        endColorstr='#ffac53' );
    padding: 4px 5px 2px 5px;
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20),
        to(#faa51a) );
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20',
        endColorstr='#faa51a' );
    padding: 3px 5px 3px 5px;
}

 red 
.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24),
        to(#aa1317) );
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24',
        endColorstr='#aa1317' );
    padding: 3px 5px 3px 5px;
}

.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b),
        to(#a11115) );
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b',
        endColorstr='#a11115' );
    padding: 4px 5px 2px 5px;
}

.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317),
        to(#ed1c24) );
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317',
        endColorstr='#ed1c24' );
    padding: 3px 5px 3px 5px;
}

 blue 
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#77bcfc),
        to(#286a99) );
    background: -moz-linear-gradient(top, #77bcfc, #286a99);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77bcfc',
        endColorstr='#286a99' );
    padding: 3px 5px 3px 5px;
}

.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#286a99),
        to(#77bcfc) );
    background: -moz-linear-gradient(top, #286a99, #77bcfc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#286a99',
        endColorstr='#77bcfc' );
    padding: 4px 5px 2px 5px;
}

.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5),
        to(#00adee) );
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5',
        endColorstr='#00adee' );
    padding: 3px 5px 3px 5px;
}

 rosy 
.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c),
        to(#bf404f) );
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c',
        endColorstr='#bf404f' );
    padding: 3px 5px 3px 5px;
}

.rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a),
        to(#a53845) );
    background: -moz-linear-gradient(top, #cf5d6a, #a53845);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a',
        endColorstr='#a53845' );
    padding: 4px 5px 2px 5px;
}

.rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f),
        to(#f16c7c) );
    background: -moz-linear-gradient(top, #bf404f, #f16c7c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f',
        endColorstr='#f16c7c' );
    padding: 3px 5px 3px 5px;
}

 green 
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#93dd31),
        to(#4f8801) );
    background: -moz-linear-gradient(top, #93dd31, #4f8801);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93dd31',
        endColorstr='#4f8801' );
    padding: 3px 5px 3px 5px;
}

.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#4f8801),
        to(#93dd31) );
    background: -moz-linear-gradient(top, #4f8801, #93dd31);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f8801',
        endColorstr='#93dd31' );
    padding: 4px 5px 2px 5px;
}

.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e),
        to(#7db72f) );
    background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e',
        endColorstr='#7db72f' );
    padding: 3px 5px 3px 5px;
}

 pink 
.pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3),
        to(#f171ab) );
    background: -moz-linear-gradient(top, #feb1d3, #f171ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3',
        endColorstr='#f171ab' );
    padding: 3px 5px 3px 5px;
}

.pink:hover {
    background: #d57ea5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb),
        to(#e86ca4) );
    background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb',
        endColorstr='#e86ca4' );
    padding: 4px 5px 2px 5px;
}

.pink:active {
    color: #f3c3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f171ab),
        to(#feb1d3) );
    background: -moz-linear-gradient(top, #f171ab, #feb1d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab',
        endColorstr='#feb1d3' );
    padding: 3px 5px 3px 5px;
}

.circle {
    border: 1px none #CCCCCC;
    border-radius: 66px 66px 66px 66px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 40px;
}

 End: Grid Column Header
---------------------------------------------- 
.z-notification .z-notification-cl,.z-notification .z-notification-cnt {
    height: 30px;
    width: 250px;
}

 Start: BorderLayout
---------------------------------------------- 
*/.z-west-header,.z-center-header,.z-east-header,.z-north-header,.z-south-header
{
    background: none repeat scroll 0 0 white;
    overflow: inherit;
    padding: -2px 3px 4px 5px;
    border-bottom: 0 solid #C5C5C5;
}

.z-west-header,.z-center-header,.z-east-header,.z-north-header,.z-south-header
{
    background: none;
}

/* End: BorderLayout
---------------------------------------------- */

/*Start: Tree
---------------------------------------------- */
.z-treerow:nth-child(even) {background: #E6F8FF}
/* End: Tree
---------------------------------------------- */

.z-notification-info .z-notification-cl{
    background-image: none !important;
}
.z-notification-info .z-notification-cnt {
    height: 25px !important;
    width: 160px !important;
}

.z-notification-ref .z-notification-cl{
    padding:0 0 0 48px;
}