 .form-popup .form-control{
            height: 24px;
        }
        
        tr.z-grid-odd td.z-row-inner, tr.z-grid-odd .z-cell, tr.z-grid-odd{
        background-color: #fff;
        border-bottom: 1px solid #fff;
        }
        div.z-listheader-cnt{
        color: #fff;
        }
        div.z-listbox-header th.z-listheader, div.z-listbox-header th.z-auxheader{
        position: relative;
	
	overflow: hidden; 
	border: 1px solid;
	white-space: nowrap;
	<!--color:#00547A;-->
	border-color: #fff #fff #fff white;
	border-top: none;
	padding: 0;
        }
        .z-listheader-cnt, div.z-listbox-header th.z-listheader-sort div.z-listheader-cnt{
        background-color: #5ed1e3;
        }
        .z-datebox-inp{
        <!--display: none;-->
        backgroud-image: none;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        width: 130px;
        border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 24px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
        .z-datebox-inp:focus{
       
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        
        }
        .z-datebox .z-datebox-btn{
        <!--margin-top: 10px;-->
        <!--background-image: url('/Viettel_CSP/zkau/web/aa013ce7/sapphire/zul/img/input/datebtn.gif') top;-->
        <!--background-size: cover;-->
        <!--background-image-padding: 10px;-->
        <!--border-top: 1x solid #999999;-->
        <!--border-bottom: 1x solid #999999;-->
        border-left: 1x solid #999999;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        <!--width: 20px;-->
        <!--background-color: #fff;-->
        height: 24px;
        }
<!--        .z-datebox .z-datebox-btn-over{
        background-image: url('/Viettel_CSP/zkau/web/aa013ce7/sapphire/zul/img/input/datebtn.gif');
        background-size: cover;
        }-->
<!--        .z-datebox-btn-icon{
        display: none;
        padding-top: 5px;
        width: 74px;
        height: 24px;
        }-->
        textbox{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }