@charset "utf-8";
/* index-wrapper.css */
body {
    margin: 0px;
    padding:0px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    text-align:left;


    background-color:#f0f9fd;
    /*background-color:#d0def1;*/
}
.vt-projectBar {
    background: url( ../images/layout/Bluebanner.jpg ) no-repeat 0% -40px;
    height:65px;
}

.vt-projectName {
    margin-top:5px;
    margin-left:10px;
    font-size:24px;
    font-weight: normal;
    position:relative;
    top:1px;
    left:40px;
}

.vt-slogan {
    font-family:verdana,tahoma,arial,sans-serif;
    position:absolute;
    top:35px;
    left: 377px;
    text-align: left;
    color:#fff;
}

.vt-header-wrapper {
    background: url( ../images/layout/Bluebanner_loop.jpg ) repeat-x 0% -40px;
}

#vt-lang-vn {
    background:url( ../images/languages/vn.png ) no-repeat 0% 0%;
}

#vt-lang-en {
    margin-right:10px;
    background:url( ../images/languages/en.png ) no-repeat 0% 0%;
}

#vt-menuBar {
    background: url( ../images/layout/new_3_1/tab_rbg.jpg ) repeat-x 0% 0px;
    border-bottom:1px solid #33799b;
    padding-top:9px;
    height:20px;
}

* html #vt-menuBar {
    height:29px;
}

#vt-titleBar {
    padding-top:2px;
    padding-left:10px;
    font-size:15px;
    font-family: helvetica, sans-serif;
    /*color:#993300;*/
    color:#00466a;

    height:20px;
    background:url( ../images/layout/new_3_1/pagebg.gif ) repeat-x 0% -10px;
}

* html #vt-titleBar {
    height:29px;
}

#vt-titleAction {
    margin-top:2px;
    margin-left:2px;
    font-size:11px;
    font-weight:bold;
}

* html #vt-titleAction {
    margin-top:3px;
}

#vt-home {
    background: url( ../images/icons/hg.png ) no-repeat 0% 0%;

}
#vt-home:hover {
    color:#f0b20f;

}

#vt-profile {
    background: url( ../images/icons/ug.png ) no-repeat 0% 0%;
}
#vt-profile:hover {
    color:#f0b20f;
}

#vt-logout {
    margin-right:10px;
    background: url( ../images/icons/fg.png ) no-repeat 0% 0%;
}

#vt-logout:hover {
    color:#f0b20f;
}

#vt-content {
    margin:0px;
    /*background: url( ../images/layout/main_bg.jpg ) #4396ca repeat-x 0% -18px;*/
}

#vt-bodyFrame {

}

/******************* utils *******************/
.no-space {
    margin: 0px;
    padding:0px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding:0px;
}

.text-title {
    color:#15428B;
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
    font-weight:bold;
}

.text-normal {
    color:#222;
    font-family: helvetica,arial,verdana,sans-serif;
    font-size: 11px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.no-float {
    clear:both;
}

.cursor-pointer {
    cursor:pointer;
}

.lang {
    width:16px;
    height:11px;

    margin-top:7px;
    margin-right:4px;
}

.icon {
    margin-top:7px;
    margin-right:7px;

    padding-top:2px;
    padding-left:18px;

    height:16px;
    font-size:10px;
    color:#f9f9f9;
}

* html .icon {
    margin-top:22px;
}

#vt-footer {
    background: url( ../images/layout/new_3_1/featured_prod_tal.jpg ) repeat-x 0% 0%;
    height: 20px;
    color:#fff;
    text-align: center;
    padding-top:1px;
}

* html #vt-footer {
    height: 18px;
}

/*VT ToolTip*/
.informer-icon{
    width:18px;
    height:18px;
}
.informer-icon-info{
    background: url(../images/icons/informer-sprite.gif) no-repeat scroll 0 -38px transparent;
}
.informer-icon-warning{
    background: url(../images/icons/informer-sprite.gif) no-repeat scroll 0 -20px transparent;
}
.informer-icon-error{
    background: url(../images/icons/informer-sprite.gif) no-repeat scroll 0 -74px transparent;
}
.x-region{
    background-color: #A1D072;
    padding: 5px 10px;
}
.vtTooltip{
    position: absolute;
    -moz-border-radius: 3px 3px 3px 3px;
    background: url("images/popupMenuBg.gif") repeat-x scroll left bottom #FFFFFF;
    border: 1px solid #7EABCD;
    padding: 0.45em;
}
.vtTooltipContents{
    font-size: 13px;
    white-space: nowrap;
}
/*end VT ToolTip*/


img{
    border: medium none;
}

/*Tuanna67 add*/
/*.z-notification-info .z-notification-cl{
    background-image: none !important;
}
.z-notification-ref .z-notification-cl,.z-notification-ref .z-notification-cnt{
    height: 40px !important;
    width: 160px !important;
}
.z-notification-ref .z-notification-cl{
    padding: 2px 2px 2px 2px !important;
}*/
/*tr.z-row-over{
    background-image: none;
    background: transparent;
}*/

tr.z-row-over > td.z-row-inner {
    border: 1px solid white;
    background: transparent;
}

.tblWithoutHover > tr.z-row-over > td.z-row-inner {
    border: 1px solid white;
    background: transparent;
}
.tblWithoutHover tr.z-row-over > td.z-row-inner, tr.z-row-over > .z-cell {
    background-image: none;
    background: transparent;
}

.tblWithoutHover .z-grid{
    border:none;
}

div .z-grid{
    border:none;
}

.z-listcell {
    word-wrap: break-word;
}

tr.z-listbox-odd {
    background-color: #E6E6E6;
}

tr.z-listitem-over{
    background-color: #6BA6BF;
}
tr.z-listitem-seld{
    background-color: #3E697C;
}

.z-listheader .z-listheader-cnt{
    text-align: center;
}
.z-messagebox-btn{
    width:auto;
}
.buttonLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
}

.z-textbox,.z-longbox,.z-combobox-rounded-inp,.z-datebox-inp{
    border-color:#999999;
}
.z-combobox-rounded-inp{
    height: 24px;
}

.z-datebox-focus .z-datebox-inp{
    border-color:#B2B2B2;
}

.z-combobox-rounded .z-combobox-rounded-btn, .z-bandbox-rounded .z-bandbox-rounded-btn, .z-datebox-rounded .z-datebox-rounded-btn, .z-timebox-rounded .z-timebox-rounded-btn, .z-spinner-rounded .z-spinner-rounded-btn, .z-doublespinner-rounded .z-doublespinner-rounded-btn, .z-combobox .z-combobox-btn, .z-bandbox .z-bandbox-btn, .z-datebox .z-datebox-btn, .z-timebox .z-timebox-btn, .z-spinner .z-spinner-btn, .z-doublespinner .z-doublespinner-btn {
    border-color:#999999;
}
tr.z-row td.z-row-inner .z-row-cnt, tr.z-row td.z-cell .z-row-cnt{
    padding-right:1px;
}
/*
tr.z-row td.z-row-inner, tr.z-row .z-cell, tr.z-row{
    border: none;
    background-color: #c9eafa;
}*/
/*Tuanna67 end*/

/* TuanNM33 */
.noti-bell {
    position:relative;
    margin-top:6px;
}

.icon-span {
    position:absolute;
    top:-7px;
    left:35px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 3px;
    background:red;
    color:white;
    font-size:10px;
    min-width:11px;
    text-align:center;
    font-weight:bold;  
}

.z-groupbox-notify .z-groupbox-3d-hl .z-groupbox-3d-header {
    background-color: #FF0000;
}

.z-caption-notify {
    text-align:left;
    font-weight:bold;
    font-size: 13pt;
    padding:0px;
    color: #FFFF00;
}
/* End TuanNM33 */

.z-radio label, .z-radio input{
    cursor: pointer;
}

input {
    color: black;
}
.z-menubar-hor{
    height: 40px;
    padding: 8px;
}