<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<?component name="multiFileSelector" class="com.viettel.plc.widget.MultiFileSelector"?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:h="client">      
    <multiFileSelector id="txtMultiFileAttach" width="100%"/>
    <div align="left">
        <cell align="left" width="100%" >
            <hbox spacing="5px" >
                <button id="doSave" label="${c:l('global.upload')}" image="/images/upload-icon.png" ></button>
                <button id="addFile" label="${c:l('global.addFile')}" image="/images/add-icon.png"></button>
            </hbox>
        </cell>
    </div>
    <div height="5px"/>
</zk>