<?xml version="1.0" encoding="UTF-8"?>
<?page title="Hello"?>
<zk>
    <div>
        <image id="backgroundlogin" src="/images/layout/Bluebanner.jpg" width="100%" height="100px"/>
    </div>
    <window id="Mnos" border="normal" closable="false" style="width:420px; margin:auto; margin-top:200px;" apply="com.viettel.logincsp.composer.RegisterComposer">
        <grid hflex="1">
            <columns visible="false">
                <column></column>
                <column></column>
            </columns>
            <rows>
                <row spans="2" align="center">
                    <label>Đăng Ký</label>
                </row>
                <row spans="2" align="center">
                    <label>Đăng ký tài khoản công ty</label>
                </row>
                <row>
                    Email:
                    <textbox id="txtEmail" hflex="1" name="Email"  constraint="no empty">
                    </textbox>
                </row>
                <row>
                    SĐT di dộng:
                    <textbox id="txtphone" hflex="1" name="Phone" constraint="no empty">
                    </textbox>
                </row>
                <row>
                    Tên đăng nhập
                    <textbox id="txtUsername" hflex="1" name="userName"  constraint="no empty">
                    </textbox>
                </row>
                <row>
                    Mật khẩu:
                    <textbox id="txtPass" hflex="1" type="password" constraint="no empty">
                    </textbox>
                </row>
                <row>
                    Xác nhận mật khẩu:
                    <textbox id="txtcomfirmPass" hflex="1" type="password"  constraint="no empty">
                    </textbox>
                </row>
                <row spans="2" align="center">
                    <hlayout>
                        <button id="btnRegister" label="Tiếp theo" />
                    </hlayout>
                </row>
                <row spans="2" align="center">
                    <hlayout>
                        <span class="psw">Bạn đã có tài khoản? <a href="/login.zul">Đăng nhập</a></span>
                    </hlayout>
                </row>
            </rows>
        </grid>
    </window>
    <!--<include src="/controls/partner/partnerEditPopup.zul"/>-->
    
</zk>   