<?xml version="1.0" encoding="UTF-8"?>
<?component name="uploadComponent" class="com.viettel.plc.widget.UploadComponent"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <window closable="true" title="${c:l('global.addNew')}"
            apply="com.viettel.csp.composer.liquidation.LiquidationSendToPartner" width="80%">
        <attribute name="onOK">
            Clients.evalJavaScript("zAu.send(new zk.Event(zk.Widget.$('$btnSavePopup'), 'onClick'));");
        </attribute>
        <panel border="normal" width="100%" height="50%">
            <panelchildren>
                <hbox spacing="0" width="100%" height="100%">
                    <vbox spacing="0" width="100%" height="100px,100px">
                        <grid id="grdAdd">
                            <columns>
                                <column hflex="1"/>
                                <column hflex="2"/>
                            </columns>
                            <rows>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contract.number')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtContractNumber"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contract.name')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtCompanyName"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contractManagement.headOfService')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtHeadOfService"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contract.GroupServiceTree')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtServiceCode"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contractManagement.startDate')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="dbStartDate"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contractManagement.endDate')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="dbEndDate"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contractManagement.contractStatus')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtContractStatus"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contractManagement.contractType')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtContractType"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label value="${c:l('contractManagement.ctSignForm')}" width="145px"/>
                                    </cell>
                                    <label hflex="2" id="txtCtSignForm"/>
                                </row>
                                <row>
                                    <cell hflex="1" align="right">
                                        <label hflex="1" maxlength="50" value="${c:l('liquidation.selectPhapChe')}"/>
                                    </cell>
                                    <bandbox id="bdUser" mold="rounded" autodrop="true">
                                    <bandpopup>
                                        <hbox>
                                            <textbox  maxlength="50" id="txtSearchBandBox"/>
                                            <button id="btnSearchBandBox" label="${c:l('global.search')}" image="/images/search.png"/>
                                            <button id="btnChooseBandBox" label="${c:l('global.choose')}" image="/images/ok-accept-complete-round-2-16.png"/>
                                        </hbox>
                                        <div height="5px"/>
                                        <listbox width="700px" mold="paging" autopaging="true" multiple="false" pageSize="10"
                                                 id="lbxContractUser"
                                                 onSelect="bdUser.value=self.selectedItem.label;">
                                            <listhead sizable="true">
                                                <listheader label="${c:l('bandbox.stt')}" width="50px"/>
                                                <listheader label="${c:l('bandbox.username')}"/>
                                                <listheader label="${c:l('bandbox.name')}"/>
                                                <listheader label="${c:l('bandbox.department')}"/>
                                                <listheader label="${c:l('bandbox.phone')}"/>
                                            </listhead>
                                            <template name="model">
                                                <listitem value="${each}">
                                                    <listcell style="text-align:center">
                                                        <label value="${forEachStatus.index+1}" style="text-align:center"/>
                                                    </listcell>
                                                    <listcell style="text-align:center">
                                                        <label value="${each.userName}"/>
                                                    </listcell>
                                                    <listcell style="text-align:center">
                                                        <label value="${each.fullName}"/>
                                                    </listcell>
                                                    <listcell style="text-align:center">
                                                        <label value="${each.departmentName}"/>
                                                    </listcell>
                                                    <listcell style="text-align:center">
                                                        <label value="${each.mobileNumber}"/>
                                                    </listcell>
                                                </listitem>
                                            </template>
                                        </listbox>
                                    </bandpopup>
                                </bandbox>

                                </row>
                            </rows>
                        </grid>
                    </vbox>
                    <splitter id="s2" collapse="before"/>
                    <vbox spacing="0" width="100%">
                        <grid id="grdContactPoint" mold="paging" height="350px" pageSize="10">
                            <custom-attributes org.zkoss.zul.nativebar="true"/>
                            <columns>
                                <column width="40px"/>
                                <column/>
                            </columns>
                            <template name="model">
                                <row>
                                    <detail>
                                        <hlayout sclass="detail">
                                            <vlayout>
                                                <hlayout sclass="detail-row">
                                                    <label value="${each.name}"/>
                                                </hlayout>
                                                <hlayout sclass="detail-row">
                                                    <label value="${each.email}"/>
                                                </hlayout>
                                                <hlayout sclass="detail-row">
                                                    <label value="${each.fixedPhoneNumber}"/>
                                                </hlayout>
                                                <hlayout sclass="detail-row">
                                                    <label value="${each.mobilePhoneNumber}"/>
                                                </hlayout>
                                                <hlayout sclass="detail-row">
                                                    <label value="${each.position}"/>
                                                </hlayout>
                                            </vlayout>
                                        </hlayout>
                                    </detail>
                                    <label value="${each.contactTypeName}"/>
                                </row>
                            </template>
                        </grid>
                    </vbox>
                </hbox>
            </panelchildren>
        </panel>

        <groupbox width="100%" id="gbDraftContract">
            <uploadComponent id="uploadComponent"/>
        </groupbox>

        <div align="center">
            <cell align="center" width="100%">
                <button id="btnAddFilePopup" label="${c:l('liquidation.addFile')}" image="/images/add-icon.png"
                        mold="trendy" sclass="btn-nopadding"/>
                <button id="btnRemoveFilePopup" label="${c:l('liquidation.removeFile')}" image="/images/icon_delete.png"
                        mold="trendy" autodisable="self" sclass="btn-nopadding"/>
                <button id="btnViewFilePopup" label="${c:l('liquidation.ViewFile')}" image="/images/view.png"
                        mold="trendy" autodisable="self" sclass="btn-nopadding"/>
            </cell>
        </div>
        <groupbox width="100%">
            <caption label="${c:l('liquidation.contracts')}"/>
            <listbox id="lbxViewAddContract" mold="paging" checkmark="true" multiple="true"
                     emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                <listhead sizable="true" style="font-weight: bold">
                    <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                    <listheader label="${c:l('contract.fileContractNumber')}" style="text-align:center" width="15%"/>
                    <listheader label="${c:l('contract.contractContent')}" style="text-align:center" width="20%"/>
                    <listheader label="${c:l('contract.description')}" style="text-align:center" width="20%"/>
                    <listheader label="${c:l('contract.startDate')}" style="text-align:center" width="20%"/>
                    <listheader label="${c:l('contract.endDate')}" style="text-align:center" width="20%"/>
                </listhead>
                <template name="model">
                    <listitem value="${each}">
                        <listcell style="text-align:center">
                            <label value="${forEachStatus.index+1}" style="text-align:center"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.fileContractNumber}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.content}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.description}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${$composer.formatDateTime(each.startDate)}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${$composer.formatDateTime(each.endDate)}"/>
                        </listcell>
                    </listitem>
                </template>
            </listbox>
        </groupbox>
        <div height="10px"/>


        <tabbox id="tbReflect" width="100%" height="300px">
            <tabs>
                <tab label="${c:l('contractManagement.liquidationFiles')}"/>
                <tab label="${c:l('contractManagement.his')}"/>
            </tabs>
            <tabpanels>
                <tabpanel>
                    <groupbox width="100%">
                        <listbox id="lbxViewAddContractManagement" mold="paging"
                                 emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                            <listhead sizable="true" style="font-weight: bold">
                                <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                                <listheader sort="auto(fileContractNumber)"
                                            label="${c:l('contractManagement.fileContractNumber')}"
                                            style="text-align:center" width="20%"/>
                                <listheader sort="auto(startDate)" label="${c:l('contractManagement.startDate')}"
                                            style="text-align:center" width="10%"/>
                                <listheader sort="auto(endDate)" label="${c:l('contractManagement.endDate')}"
                                            style="text-align:center" width="10%"/>
                                <listheader sort="auto(fileType)" label="${c:l('contractManagement.fileType')}"
                                            style="text-align:center" width="20%"/>
                                <listheader sort="auto(uploadDate)" label="${c:l('contractManagement.uploadDate')}"
                                            style="text-align:center" width="10%"/>
                                <listheader sort="auto(content)" label="${c:l('contractManagement.content')}"
                                            style="text-align:center" width="15%"/>
                                <listheader label="${c:l('contract.downloadFile')}" style="text-align:center"
                                            width="10%"/>
                                <listheader label="${c:l('global.delete')}" style="text-align:center" width="5%"/>
                            </listhead>
                            <template name="model">
                                <listitem value="${each}">
                                    <listcell style="text-align:center">
                                        <label value="${forEachStatus.index+1}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.fileContractNumber}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.formatDateTime(each.startDate)}"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <label value="${$composer.formatDateTime(each.endDate)}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.fileType}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.formatDateTime(each.uploadDate)}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.content}"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="images/down-icon.png" forward="onClick=onDownloadFileContract"/>
                                    </listcell>
                                    <listcell style="text-align:center">
                                        <image src="images/icon_delete.png" forward="onClick=onDeleteContract"/>
                                    </listcell>
                                </listitem>
                            </template>
                        </listbox>
                    </groupbox>
                </tabpanel>
                <tabpanel>
                    <groupbox width="100%">
                        <listbox id="lbxContractHis" mold="paging"
                                 emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                            <listhead sizable="true" style="font-weight: bold">
                                <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                                <listheader sort="auto(fullName)" label="${c:l('contractManagement.fullName')}"
                                            style="text-align:center" width="35%"/>
                                <listheader sort="auto(createAt)" label="${c:l('contractManagement.createAt')}"
                                            style="text-align:center" width="20%"/>
                                <listheader sort="auto(statusBefore)" label="${c:l('contractManagement.statusBefore')}"
                                            style="text-align:center" width="20%"/>
                                <listheader sort="auto(statusAfter)" label="${c:l('contractManagement.statusAfter')}"
                                            style="text-align:center" width="20%"/>
                            </listhead>
                            <template name="model">
                                <listitem value="${each}">
                                    <listcell style="text-align:center">
                                        <label value="${forEachStatus.index+1}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${each.fullName}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.formatDateTime(each.createAt)}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.getContractStatusHisName(each.statusBefore)}"/>
                                    </listcell>
                                    <listcell style="text-align:left">
                                        <label value="${$composer.getContractStatusHisName(each.statusAfter)}"/>
                                    </listcell>
                                </listitem>
                            </template>
                        </listbox>
                    </groupbox>
                </tabpanel>

            </tabpanels>
        </tabbox>
        <div height="10px"/>
        <div align="center">
            <cell align="center" width="100%">
                <hlayout spacing="5px">
                    <button id="btnSendToPartner" label="${c:l('liquidation.sendToPartner')}"
                            image="/images/ok-icon.png" mold="trendy" autodisable="self" sclass="btn-nopadding"/>
                    <button id="btnclosePopup" label="${c:l('global.exit')}" image="/images/minus-16.png" mold="trendy"
                            autodisable="self" sclass="btn-nopadding"/>
                </hlayout>
            </cell>
        </div>
        <div height="10px"/>
    </window>
</zk>

