<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <!--<style src="css/bootstrap/css/bootstrap.min.css"></style>-->
    <window id="wdContact" xmlns:h="client" apply="com.viettel.csp.composer.reason.ReasonComposer"
            width="100%" contentStyle="overflow:auto;">
        <groupbox width="100%">
            <caption label="${c:l('reason.title')}"/>
            <grid id="gridSearch" style="overflow:hiden" width="100%">
                <columns>
                    <column hflex="1"/>
                    <column hflex="2"/>
                    <column hflex="1"/>
                    <column hflex="2"/>
                </columns>
                <rows>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('reason.code')}" width="145px"/>
                        </cell>
                        <textbox hflex="2" maxlength="50" id="txtReasonCode"/>

                        <cell hflex="1" align="right">
                            <label value="${c:l('reason.type')}" width="145px"/>
                        </cell>
                        <combobox mold="rounded" hflex="1" readonly="true" id="cbbReasonType">
                            <attribute name="onCreate">
                                self.setSelectedIndex(0);
                            </attribute>
                            <comboitem value="" label="${c:l('global.combobox.choose')}"/>
                            <comboitem value="LOCK_PARTNER" label="${c:l('reason.type.LOCK_PARTNER')}"/>
                            <comboitem value="CONTRACT_PROFILE" label="${c:l('reason.type.CONTRACT_PROFILE')}"/>
                            <comboitem value="CONTRACT" label="${c:l('reason.type.CONTRACT')}"/>
                            <comboitem value="BREACH" label="${c:l('reason.type.BREACH')}"/>
                            <comboitem value="REFLECT" label="${c:l('reason.type.REFLECT')}"/>
                        </combobox>
                    </row>
                    <row>

                        <cell hflex="1" align="right">
                            <label value="${c:l('reason.name')}" width="145px"/>
                        </cell>
                        <textbox hflex="2" maxlength="50" id="txtReasonName"/>
                    </row>
                </rows>
            </grid>
            <div height="10px"/>
            <div align="center" style="95%">
                <cell align="center" width="100%">
                    <hlayout spacing="5px">
                        <button id="btnSearch" label="${c:l('global.search')}" image="/images/search.png"/>
                        <button id="btnAdd" label="${c:l('global.add')}" image="/images/add-icon.png"/>
                        <button id="btnEdit" label="${c:l('global.edit')}" image="/images/edit-icon.png"/>
                        <button id="btnDelete" label="${c:l('global.delete')}" image="/images/icon_delete.png"/>
                        <button id="btnReset" label="${c:l('global.reset')}" image="/images/refresh-icon.png"/>
                    </hlayout>
                </cell>
            </div>
            <div height="10px"/>
        </groupbox>
        <groupbox width="100%">
            <caption label="${c:l('global.search.result')}"/>
            <listbox id="lbxReasonList" mold="paging" checkmark="true" multiple="true"
                     emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                <listhead sizable="true" style="font-weight: bold">
                    <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                    <listheader label="${c:l('reason.code')}" style="text-align:center"/>
                    <listheader label="${c:l('reason.name')}" style="text-align:left"/>
                    <listheader label="${c:l('reason.description')}" />
                    <listheader label="${c:l('reason.type')}"/>
                </listhead>
                <template name="model">
                    <listitem value="${each}">
                        <listcell style="text-align:center">
                            <label value="${forEachStatus.index+1}"/>
                        </listcell>
                        <listcell>
                            <label value="${each.code}"/>
                        </listcell>
                        <listcell>
                            <label value="${each.name}"/>
                        </listcell>
                        <listcell>
                            <label value="${each.description}"/>
                        </listcell>
                        <listcell>
                            <label value="${each.type}"/>
                        </listcell>
                    </listitem>
                </template>
            </listbox>
        </groupbox>
        <script type="text/javascript">
            zk.afterMount(function() {
            jq("$txtReasonCode").focus();
            jq("$txtReasonCode").keyup(function(){
            this.value = this.value.toUpperCase();
            });
            });
        </script>
    </window>
</zk>
