<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:h="client">
    <textbox id="txtPortPop" maxlength="5" hflex="1">
        <attribute h:name="doKeyPress_">
            function(evt){
            if (!this._shallIgnore(evt, "0123456789-"))
            this.$doKeyPress_(evt);
            }
        </attribute>
    </textbox>
</zk>
