<?xml version="1.0" encoding="UTF-8"?>
<!--${c:l('global.addNew')}-->
<zk xmlns="http://www.zkoss.org/2005/zul">
    <!--<style src="css/bootstrap/css/bootstrap.min.css"></style>-->
    <window closable="true" title="${c:l('global.info')}" xmlns:h="client"
            apply="com.viettel.csp.composer.contact.ContactPopupComposer" width="40%">
        <attribute name="onOK">
            Clients.evalJavaScript("zAu.send(new zk.Event(zk.Widget.$('$btnSavePopup'), 'onClick'));");
        </attribute>
        <groupbox width="100%">
            <caption label="${c:l('contact.dialog.tooltip.contact.info')}"/>
            <grid id="grdInfo">
                <columns>
                    <column hflex="1"/>
                    <column hflex="2"/>
                </columns>
                <rows>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.userName')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <textbox hflex="1" maxlength="50" id="txtUserName"/>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.name')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <textbox hflex="1" maxlength="100" id="txtContactName"/>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.sex')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <combobox mold="rounded" hflex="1" readonly="true" id="cbbSex">
                            <comboitem value="-99" label="${c:l('global.combobox.choose')}"/>
                            <comboitem value="MALE" label="${c:l('global.sex.male')}"/>
                            <comboitem value="FEMALE" label="${c:l('global.sex.female')}"/>
                        </combobox>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.email')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <textbox hflex="1" maxlength="100" id="txtEmail"/>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.fixedPhoneNumber')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <textbox hflex="1" maxlength="50" id="txtFixedPhoneNumber"/>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.mobilePhoneNumber')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <textbox hflex="1" maxlength="50" id="txtMobilePhoneNumber"/>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.department')}" width="100px"/>
                        </cell>
                        <textbox hflex="1" maxlength="125" id="txtDepartment"/>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.position')}" width="100px"/>
                        </cell>
                        <textbox hflex="1" maxlength="125" id="txtPosition"/>
                    </row>

                    <row id="rContactType">
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.contactTypeName')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <combobox id="cbbContactType" readonly="true" model="${$composer.kvbContactType}" mold="rounded"
                                  hflex="1">
                            <template name="model">
                                <comboitem label="${each.value}" value="${each.key}"></comboitem>
                            </template>
                        </combobox>
                    </row>

                    <row id="rContactStatus">
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.contactStatusName')}" width="100px"/>
                            <label value=" (*)" style="color:red"/>
                        </cell>
                        <combobox mold="rounded" hflex="1" readonly="true" id="cbbContactStatus">
                            <comboitem value="-99" label="${c:l('global.combobox.choose')}"/>
                            <comboitem value="ACTIVE" label="${c:l('contact.status.active')}"/>
                            <comboitem value="LOCK" label="${c:l('contact.status.lock')}"/>
                        </combobox>
                    </row>

                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('contact.otherInfo')}" width="100px"/>
                        </cell>
                        <textbox hflex="1" maxlength="1024" rows="5" id="txtOtherInfo"/>
                    </row>
                </rows>
            </grid>
        </groupbox>
        <div height="10px"/>
        <div align="center">
            <cell align="center" width="100%">
                <hlayout spacing="5px">
                    <button id="btnSavePopup" label="${c:l('global.save')}" image="/images/icon-save.png"/>
                    <button id="btnClosePopup" label="${c:l('global.exit')}" image="/images/minus-16.png" mold="trendy" autodisable="self" sclass="btn-nopadding"/>
                </hlayout>
            </cell>
        </div>
        <div height="10px"/>

        <script type="text/javascript">
            zk.afterMount(function() {
            jq("$txtCode").focus();
            jq("$txtCode").keyup(function(){
            this.value = this.value.toUpperCase();
            latinCharOnly($(this),/[^a-zA-Z0-9_]/g);
            });

            function latinCharOnly(ctrl, pattern) {
            if (ctrl.val().match(pattern)) {
            ctrl.val(ctrl.val().replace(pattern, ''));
            }
            };

            });
        </script>
    </window>
</zk>

