<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <window id="wdContact" xmlns:h="client" apply=" com.viettel.csp.composer.reflect.ReflectComposer"
            width="100%" contentStyle="overflow:auto;">
        <groupbox width="100%">
            <caption label="${c:l('reflect.info')}"/>
            <grid id="gridSearch" style="overflow:hiden" width="100%">
                <columns>
                    <column hflex="1"/>
                    <column hflex="2"/>
                    <column hflex="1"/>
                    <column hflex="2"/>
                </columns>
                <rows>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('reflect.code')}" width="145px"/>
                        </cell>
                        <textbox hflex="2" maxlength="50" id="txtCode"/>
                        
                        <cell align="right">
                            <label value="${c:l('reflect.customer')}" width="145px"/>
                        </cell>
                        <textbox hflex="1" maxlength="100" id="txtCustomer"/>
                    </row>
                    <row>
                        <cell hflex="1" align="right">
                            <label value="${c:l('reflect.nameService')}" width="145px"/>
                        </cell>
                        <textbox hflex="2" maxlength="50" id="txtNameService"/>
                        
                        <cell align="right">
                            <label value="${c:l('reflect.numberHead')}" width="145px"/>
                        </cell>
                        <textbox hflex="1" maxlength="100" id="txtNumberhead"/>
                    </row>
                             
                    <row>
                        <cell align="right">
                            <label value="${c:l('reflect.type')}" width="145px"/>
                        </cell>
                        <combobox id="cbbReflectType" readonly="true" model="${$composer.listReflectType}"   mold="rounded" hflex="1">
                            <template name="model">
                                <comboitem label="${each.value}" value="${each.key}"></comboitem>
                            </template>
                        </combobox>
                        <cell align="right">
                            <label value="${c:l('reflect.dateReply')}" width="145px"/>
                        </cell>
                        <datebox id="dateReply" hflex="1" format="dd/MM/yyyy"/>
                    </row>
                </rows>
            </grid>
            <div height="10px"/>
            <div align="center" style="95%">
                <cell align="center" width="100%">
                    <hlayout spacing="5px">
                        <button id="btnSearch" label="${c:l('global.search')}" image="/images/search.png"/>
                        <button id="btnAdd" label="${c:l('global.add')}" image="/images/add-icon.png"/>
                        <button id="btnEdit" label="${c:l('global.edit')}" image="/images/edit-icon.png"/>
                        <button id="btnDelete" label="${c:l('global.delete')}" image="/images/icon_delete.png"/>
                        <button id="btnReset" label="${c:l('global.reset')}" image="/images/refresh-icon.png"/>
                        <button id="btnSendReflect" label="${c:l('reflect.send')}" image="/images/send-icon.png"/>
                        <button id="btnImport" label="${c:l('reflect.import')}" image="/images/import_icon.png"/>
  
                    </hlayout>
                </cell>
            </div>
            <div height="10px"/>
        </groupbox>
        <groupbox width="100%">
            <caption label="${c:l('global.search.result')}"/>
            <listbox id="lbxReflectSearch" mold="paging" checkmark="true" multiple="true"
                     emptyMessage="${c:l('global.search.result.null')}" pageSize="10">
                <listhead sizable="true" style="font-weight: bold">
                    <listheader label="${c:l('global.stt')}" style="text-align:center" width="5%"/>
                    <listheader label="${c:l('reflect.code')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.customer')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.nameService')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.headOfService')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.type')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.dateReply')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.level')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.createBy')}" style="text-align:center" width="10%"/>
                    <listheader  label="${c:l('reflect.status')}" style="text-align:center" width="15%"/>
                    <listheader  label="${c:l('reflect.updateAt')}" style="text-align:center" width="10%"/>          
                </listhead>
                <template name="model">
                    <listitem value="${each}">
                        <listcell style="text-align:center">
                            <label value="${forEachStatus.index+1}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.code}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.customerName}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.serviceName}"/>
                        </listcell>
                        <listcell style="text-align:right">
                            <label value="${each.headOfService}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.reflectTypeName}"/>
                        </listcell>
                        <listcell style="text-align:center">
                            <label value="${each.requiredReponseDate}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.priorityLevel}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.createBy}"/>
                        </listcell>
                        <listcell style="text-align:left">
                            <label value="${each.reflectStatusName}"/>
                        </listcell>
                        <listcell style="text-align:center">
                            <label value="${each.updateAt}"/>
                        </listcell>                        
                        
                    </listitem>
                </template>
            </listbox>
        </groupbox>
        <script type="text/javascript">
            zk.afterMount(function() {
            jq("$txtCode").focus();
            jq("$txtCode").keyup(function(){
            this.value = this.value.toUpperCase();
            });
            });
        </script>
    </window>
</zk>
