<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul" c="http://www.zkoss.org/2005/client">
    <window id="wdwLstVersions" apply="com.viettel.plc.composer.catalogue.ShowPolicyDetailVersionComposer"
            title="${c:l('process.lstVersion')}" border="normal" width="80%"
            position="center,center" closable="true" action="show: slideDown">
        <vbox hflex="1">
            <groupbox hflex="1">
                <caption label="${c:l('global.search')}"/>
                <grid hflex="1" forward="onOK=btnSearch.onClick">
                    <rows>
                        <row>
                            <cell colspan="1" width="150px">
                                <label value="${c:l('global.fromDate')}" width="145px" />
                            </cell>
                            <datebox id="dpkFrom" format="dd/MM/yyyy"  hflex="1" />
                            <cell colspan="1" width="150px">
                                <label value="${c:l('global.toDate')}" width="145px" />
                            </cell>
                            <datebox id="dpkTo" format="dd/MM/yyyy"  hflex="1" />
                        </row>
                        <row>
                            <cell colspan="1" width="150px">
                                <label value="${c:l('processVersion.description')}" width="145px" />
                            </cell>
                            <cell colspan="3">
                                <textbox id="txtDescription" hflex="1" maxlength="200"/>
                            </cell>
                        </row>
                        <row>
                            <cell colspan="4" style="text-align:center">
                                <hbox pack ="center" style="padding:5px;" width="100%">
                                    <button id="btnSearch" label="${c:l('global.search')}" image="/images/search.png" mold="trendy" autodisable="self"/>
                                </hbox>
                            </cell>
                        </row>
                    </rows>
                </grid>
            </groupbox>
            <groupbox id="grpData" visible="true" hflex="1">
                <caption label="${c:l('process.lstVersion')}"/>
                <vlayout>
                    <groupbox id="gridData" mold="paging" pageSize="10" model="${arg.ALL_VERSIONS}"
                             emptyMessage="${c:l('global.emptyGrid')}" hflex="1">
                        <listhead>
                            <listheader hflex="1" >${c:l('processVersion.version')}</listheader>
                            <listheader hflex="2" >${c:l('processVersion.description')}</listheader>
                            <listheader hflex="1" >${c:l('processVersion.issueDate')}</listheader>
                            <listheader width="80px" >${c:l('processVersion.viewChange')}</listheader>
                            <listheader width="110px" ></listheader>
                        </listhead>
                        <template name="model">
                            <listitem value="${each}">
                                <listcell>
                                    <label value="${each.version}" />
                                </listcell>
                                <listcell>
                                    <label value="${each.description}" />
                                </listcell>
                                <listcell>
                                    <label value="${each.issueDatetime}" />
                                </listcell>
                                <listcell>
                                    <button label="${c:l('global.view')}" mold="trendy" image="/images/view.png" autodisable="self" onClick='$composer.onShowChange(self.getAttribute("actionId"),self.getAttribute("policyDetailCode"))'>
                                        <custom-attributes actionId="${each.actionId}"/>
                                        <custom-attributes policyDetailCode="${each.policyDetailCode}"/>
                                    </button>
                                </listcell>
                                <listcell>
                                    <button label="${c:l('global.rollback')}" mold="trendy" image="/images/reset.png" autodisable="self" onClick='$composer.onRollback(self.getAttribute("actionId"),self.getAttribute("policyDetailCode"))'>
                                        <custom-attributes actionId="${each.actionId}"/>
                                        <custom-attributes policyDetailCode="${each.policyDetailCode}"/>
                                    </button>
                                </listcell>
                            </listitem>
                        </template>
                    </groupbox>
                </vlayout>
            </groupbox>
        </vbox>
    </window>
</zk>